/* Os navegadores colocam margens automaticas
    que podem atrapalhar, ent vamos tirar:abaixo
*/

/* global: a alteração servira para tudo tudo */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

.logo{
  width: 120px;
  margin: 40px 0;
}

header p{
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;

  height: 100vh;

  font-family: 'Roboto', sans-serif;

  background-color: #f9f9f9;
}

footer {
  margin-top: auto;
  padding: 16px;

  border: 1px solid #eee;
}

header, main, footer {

  text-align: center;
}

h1, h2 {
  color: #000000cc;
}

main h2 span {
  color:  #ff4f4f;
}
/* acessar uma classe do html = 
section.donors (tem mais força(importancia)) 
ou .donors (menos força ou importancia do que section.blablabla)
Ou tambpem em cascata, só dar espaço antes do ponto: main .donnors

*/
.donors{
  /* coloca um display como tabela de excel
      então no grid template vc passa a largura e
      a quantidade ao mesmo tempo
      1fr = flexível a tela
  */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}

/* FORM */
section.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* colocar espaçamento no grid */
  grid-gap: 45px;

  /* alinhar no centro do eixo "X" da caixa */
  align-items: center;
  background-color: #ff4f4f;

  padding: 16px 64px;

  border-radius: 6px;

}


.form h2 {
  text-align: right;
  color: #ffffffee;
  font-size: 18px;

}

form input,
form buttom {
  width: 100%;
  margin-bottom: 4px;

  /* manter a mesma largura entre form e botão */
  box-sizing: border-box;

  border-radius: 4px;
  border: 1px #ffffff88 solid;


  /*Paddind Abaixo colando 2 valores = em cima e baixo, direita e esquerda 
  poderia ficar= padding: 8px 16px;
  */
  padding: 8px 16px;

}

.blood {
  color: #ff4f4f;
  font-weight: bold;
  font-size: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* fazer formato de gota */
.blood::before {
  content: "";
  background-color: #ff4f4f11;

  width: 40px;
  height: 40px;

  /* criar outra camada para posicionar */
  position: absolute;
  
  /* fazer a gotinha */
  border-radius: 50%;
  border-top-right-radius: 0;

  transform: rotate(-45deg)
}

.donor p {
  margin-top: 24px;
  margin-bottom: 64px;
  font-size: 14px;
}

form input {
  background-color: transparent;
}

/* mexer no placeholder acessa usando :: */

form input::placeholder {
  color: #ffffffaa;
}

form button {
  font-weight: bold;
}


header, .form, main {
  /* espaçamento com margin */
  /* top right buttom left */
  margin: 0 auto 70px auto;

  /* limites dos elementos na página */
  width: 90%;
  max-width: 500px;

}

header button {
  margin-top: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;

  background-color: #ff4f4f;
  color: white;

  font-weight: bold;

}

/* TÍTULOS */
header h1, main h2 {
  margin-bottom: 70px;

}


/* funcionalidade JS */

section.form {
  transition: all 250ms;
}


section.form.hide {
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin-top: -70px;

}
